.logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 25%;
    width: 100%;
    padding-top: 20px;
}

.border {
    padding-top: 1px;
    border-bottom: 10px outset #a2ddff;
}

.new-nav {
    overflow: hidden;
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 25%;
    width: 17%;
    list-style: none;
}

.new-snack {
    overflow: hidden;
    display: block;
    height: 100px;
    width: 170px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 0px;
    justify-content: center;
}